#contact {
  background-image: url(../../img/accent_bottom_wave_01.png);
  height: 692px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    padding: $pd-7;
  }
  .contact__img {
    height: 526px;
  }
  .contact__form {
    text-align: center;
    padding-left: $pd-5;
    width: 200px;
    #form__content {
      border: 1px solid $color-white-3;
      margin-top: $pd-13;
      height: 520px;
      border-radius: 20px;
      box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
      background-color: rgba(255, 255, 255, 1);
    }
    .form-group {
      display: flex;
      justify-content: space-between;
      .form__icon {
        position: absolute;
        color: $bg-pink;
        padding-top: $pd-11;
        padding-left: $pd-1;
      }
      .form__icon1 {
        position: absolute;
        color: $bg-pink;
        padding-top: $pd-11;
        padding-left: $pd-3;
      }
      .input {
        margin-left: $mg-7;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 20px;
        padding-left:$pd-1 ;
      }
      .input1 {
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 20px;
        margin-right: $mg-7;
        padding-left:$pd-13;
      }
     
    }
    .Choose__languages {
      position: relative;
      display: flex;

      .languages__icon {
        position: absolute;
        top: 8px;
        left: 30px;
        color: $color-pink-1;
      }
    }
    .language {
      padding-left: $pd-1;
      padding-right: $pd-2;
      margin-left: $mg-7;
      height: 40px;
      width: 23rem;
      border: 1px solid #ddd;
      color: #757575;
      border-radius: $bd-3;
    }
    #moTa {
      position: relative;
     
    }
    .moTa__icon{
        position: absolute;
        left: 135px;
        top: 256px;
        color: $color-pink-1;
      }
    textarea {
      border-radius: 20px !important;
      margin: $mg-8;
      height: 85px;
      padding-left: $pd-4;
      padding-top: $pd-6;
      color: #757575;
      font-size: $fs-1;
      border: 1px solid #ddd;
      
    }
    .button__contact{
      padding: $pd-1 $pd-10;
      text-align: left;
      font-size: $fs-1;
     
      button{
        padding: $pd-9 $pd-12;
        border-radius: 50px;
        color: $color-white-3;
        background-color: $bg-pink;
        border: 1px solid $color-pink-1;
        position: relative;
        transition: transform 0.3s ease-in-out;
        z-index: 1;
        &:hover{
          color: #A9027E;
        }
      }
      
      button::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-white-3;
        border: 1px solid #A9027E;
        border-radius:20px;
        transform: scaleY(0);
        transition: transform 0.3s ease-in-out;
        z-index: -1;
      }
      button:hover::before,
      button:focus::before{
        transform: scaleY(1);
      }
    }

  
  }
}
